body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ffffff, #ffeaea);
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
}

header {
  background-color: #d32f2f;
  color: white;
  padding: 20px 0;
}

h1, h2 {
  margin: 10px 0;
}

.container {
  padding: 30px;
}

a {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  text-decoration: none;
  background-color: #b71c1c;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}

a:hover {
  background-color: #7f0000;
  transform: scale(1.05);
}

footer {
  background-color: #d32f2f;
  color: white;
  padding: 10px;
  margin-top: 30px;
}
div {
  width: auto;
  height: auto;
  background-color: white;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
  animation-direction: alternate;
}

@keyframes myAnimation {
  from {background-color: red;}
  to {background-color: white;}
}

@keyframes wave {
  from { left: -100%; }
  to { left: 100%; }
}